@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --accent-blue: #1E3A8A;
  --warm-gold: #FBBF24;
  --off-white: #F9FAFB;
  --light-gray: #E5E7EB;
  --nav-bg: #f7f3ea;
  --content-max-width: 1536px;
  --body-max-width: 1248px;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-accent-blue: var(--accent-blue);
  --color-warm-gold: var(--warm-gold);
  --color-off-white: var(--off-white);
  --color-light-gray: var(--light-gray);
  --color-nav-bg: var(--nav-bg);
}


body {
  background: var(--nav-bg);
  color: var(--foreground);
}

h1, 
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-merriweather);
  
}

p {
  font-family: var(--font-open-sans);
}